<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="SqlNotebook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SqlNotebook.Properties.Settings>
            <setting name="SqlServerLastConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="PostgreSqlLastConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlLastConnectionString" serializeAs="String">
                <value />
            </setting>
        </SqlNotebook.Properties.Settings>
    </userSettings>
</configuration>
