*.aps
*.cachefile
*.crt
*.key
*.ncb
*.opendb
*.opensdf
*.pfx
*.sdf
*.user
.vs/
Debug/
Desktop.ini
Release/
Thumbs.db
bin/
ext/Windows-API-Code-Pack/
ext/downloads/
ext/sqlite/
ipch/
obj/
packages/
src/SqlNotebook/doc/
x64/
