.nupkg
.vs/
*.aps
*.cachefile
*.crt
*.key
*.ncb
*.opendb
*.opensdf
*.pfx
*.sdf
*.user
bin/
Debug/
Desktop.ini
ext/downloads/
ext/sqlean/
ext/sqlite/
ext/Windows-API-Code-Pack/
ipch/
obj/
packages/
Release/
src/crypto/
src/fuzzy/
src/SqlNotebook/doc/
src/stats/
Thumbs.db
x64/
