body {
    font-family: "Segoe UI";
    font-size: 11pt;
    padding-bottom: 50px;
    padding-left: 10px;
    max-width: 800px;
    line-height: 140%;
}
* {
    font-size: 11pt !important;
}
pre, tt, code {
    font-family: "Consolas";
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img.diagram {
    border: 1px solid white;
}
a img.diagram:hover {
    border: 1px solid #4078c0;
}
div.figure {
    text-align: center;
}
div.caption {
    font-size: 8pt !important;
    font-style: italic;
    color: gray;
}
ul.args li, ul.opts li, .examples li {
    margin-bottom: 15px;
}
ul.enum {
    margin-top: 5px;
}
ul.enum li {
    margin-bottom: 0px;
}
th {
    font-weight: normal;
    text-align: left;
    background: #f6f6f6;
}
th, td {
    border: 1px solid #eee;
    padding: 3px 10px 3px 10px;
}
table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 26px;
}
h1 code {
    font-size: 28px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}