<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="MySql.Data" version="8.0.26" targetFramework="native" />
	<package id="Newtonsoft.Json" version="13.0.1" targetFramework="native" />
	<package id="Npgsql" version="5.0.10" targetFramework="native" />
	<package id="System.Data.SqlClient" version="4.8.3" targetFramework="native" />
</packages>
