* {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
html {
    overflow-y: scroll;
}
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0 auto;
    max-width: 800px;
    line-height: 150%;
    padding: 15px;
}
header > a, header > a:visited, header > a:hover, header > a:active {
    text-decoration: none;
    color: black;
    font-size: 32px;
}
header > a > span {
    display: inline-block;
    padding-top: 5px;
    font-weight: bold;
}
pre, code, tt {
    font-family: 'Consolas', 'Monaco', monospace;
}
a, a:visited {
    color: #4078c0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
div#article {
    margin-top: 20px;
    margin-bottom: 40px;
}
div#footer {
    margin-bottom: 75px;
    text-align: right;
}
ul#nav {
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;
}
ul#nav li {
    display: inline-block;
    padding-right: 15px;
    font-size: 20px;
}
ul#nav li a {
    font-weight: bold;
}
hr {
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
}
div.figure {
    text-align: center;
}
div.caption {
    font-size: 8pt;
    font-style: italic;
    color: gray;
}
ul.args li, ul.opts li, .examples li {
    margin-bottom: 15px;
}
ul.enum {
    margin-top: 5px;
}
ul.enum li {
    margin-bottom: 0px;
}
th {
    font-weight: normal;
    text-align: left;
    background: #f6f6f6;
}
th, td {
    border: 1px solid #eee;
    padding: 3px 10px 3px 10px;
}
table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}
code {
    font-size: 11pt;
}
h1 {
    font-size: 24px;
}
h1 code {
    font-size: 22px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
img, a img {
    border: 0;
}
ul.doc-list {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 30px;
}
span#header-doc-short {
    display: none;
}
@media only screen and (max-width: 750px) {
    iframe#github-star { display: none; }
    span#header-doc-long { display: none; }
    span#header-doc-short { display: inline; }
}
